@model SchoolManagement.Services.ViewModels.Chat.AddPeopleViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/tableDetails.css" />
}
<h3>Add people to your group</h3>
<hr />
<div class="col-md-6">
    <input class="form-control" type="text" id="searchInput" onkeyup="searchUsers()" placeholder="Search usernames" />
</div>
<br />
@if (Model.Usernames.Count == 0)
{
    <h3>All users are in your group</h3>
}
else
{
    <table class="table table-dark table-striped" id="addPeopleTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var username in Model.Usernames)
            {
                <tr class="userRow">
                    <td>@username</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="AddPerson" asp-route-chatroomId="@Model.ChatroomId" asp-route-username="@username">Add to room</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script src="~/js/search.js"></script>
}

