@model List<SchoolManagement.Services.ViewModels.Subject.SubjectViewModel>

@{
    ViewData["Title"] = "Overview";
}

<div class="container">
    <br />
    <a class="btn btn-primary" asp-action="Create">Create subject</a>
    <hr />
    <br />
    <table class="table  table-dark table-striped">
        <thead>
            <tr>
                <th>Subject name</th>
                <th>Passing points</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model)
            {
                <tr>
                    <td>@subject.Title</td>
                    <td>@subject.PassingScore</td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@subject.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

