@model SchoolManagement.Services.ViewModels.User.AccountDetailsModel

@{
    ViewData["Title"] = "Account Details";
}
@section Styles {
    <link rel="stylesheet" href="~/css/userInfo.css" />
}

<h1>Account Details</h1>

<div class="container" id="userInfoContainer">
    @*<p>Id: @Model.UserId</p>*@
    <div id="userImage">
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserImage)" width="200" height="200" style="border-radius:100%;" />
    </div>
    <div id="userInfo">
        <p><b>User Name:</b> @Model.UserName</p>
        <p><b>Email:</b> @Model.Email</p>
        <a asp-controller="User" asp-action="Edit" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier).Value" class="btn btn-primary">Edit info</a>
    </div>
</div>

